<!DOCTYPE html>
<html>
	<head>
		<title>CrownLabs - Error</title><style>html,body{height:100%;background-color:#333;margin:0;color:#FFF;font-family:Arial,Helvetica,sans-serif;font-size:15pt;user-select:none}.mdl{position:fixed;left:50%;top:50%;transform:translate(-50%,-50%);text-align:center;line-height:1.5em}button{border:1px solid #ccc;color:#ccc;background-color:transparent;border-radius:0.5em;font-size:1em;padding:0.5em 1em;margin:0.5em;cursor:pointer}i{font-size:0.8em}
		</style>
	</head>
	<body><div class="mdl">
		%%CROWN%%
		<h2>Error {{ .Code }}</h2>
		<p>{{ .Text }}</p>
	</div></body>
</html>
