vrrp_instance vip_ladispe_worker_1 {
    state MASTER
    interface bond0
    virtual_router_id 1
    priority 100
    advert_int 1
    virtual_ipaddress {
        {{ vip_worker_1 }}
    }
}

vrrp_instance vip_ladispe_worker_2 {
    state BACKUP
    interface bond0
    virtual_router_id 2
    priority 50
    advert_int 1
    virtual_ipaddress {
        {{ vip_worker_2 }}
    }
}

vrrp_instance vip_ladispe_worker_3 {
    state BACKUP
    interface bond0
    virtual_router_id 3
    priority 40
    advert_int 1
    virtual_ipaddress {
        {{ vip_worker_3 }}
    }
}