#noVNC_container {
  border-bottom-right-radius: 0 !important;
}
#noVNC_connect_dlg .noVNC_logo {
  font-size: 25px !important;
  margin-bottom: 40px !important;
  color: #F55;
  font-family: sans-serif;
  text-shadow: none;
}
#noVNC_connect_dlg::before {
  content: 'CrownLabs';
  color: #DDD;
  display: block;
  text-align: center;
  font-size: 60px;
}
