.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login {
  background-color: #004990;
  border-color: #004990;
}

.login:hover {
  opacity: 0.8;
}

.headerstyle {
  background-color: transparent;
  border: none;
}

.cover {
  overflow-y: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.footerstyle {
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.textareastyle {
  color: white;
  border-color: #2E2E2E; 
  background-color: #2E2E2E;
  width: 100%;
  height: 150px;
  resize: none;
  border-radius: 10px;
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
