body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  min-height: 100vh;
  min-width: 100%;
  overflow-y: hidden;
  margin-left: 0;
  margin-right: 0;
}

html {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerstyle {
  background-color: transparent;
  border: none;
  width: 100%;
}

.cover {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  overflow-y: auto;
}

.footerstyle {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.textareastyle {
  color: white;
  border-color: #2e2e2e;
  background-color: #2e2e2e;
  width: 100%;
  height: 150px;
  resize: none;
  border-radius: 10px;
  font-size: 15px;
}

#main {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #8e9eab,
    #eef2f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #8e9eab,
    #eef2f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav_new {
  background-color: #032364;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}

.navText {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.rotating {
  animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}
