---
apiVersion: v1
kind: Namespace
metadata:
  name: ${NAMESPACE_LABOPERATOR}

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: operator-config
  namespace: ${NAMESPACE_LABOPERATOR}
data:
  nextcloudBaseUrl: ${CM_NEXTCLOUD_URL}
  oauth2ProxyImage: ${CM_OAUTH_PROXY_IMAGE}
  oidcClientSecret: ${CM_OIDC_CLIENT_SECRET}
  oidcProviderUrl: ${CM_OIDC_PROVIDER_URL}
  webdavSecretName: ${CM_WEBDAV_SECRET}
  websiteBaseUrl: ${HOST_NAME}
  whitelistLabels: ${CM_WHITELIST_LABELS}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: lab-operator
  namespace: ${NAMESPACE_LABOPERATOR}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ${LABOPERATOR_CRB_NAME}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: crownlabs-lab-operator
subjects:
  - kind: ServiceAccount
    name: lab-operator
    namespace: ${NAMESPACE_LABOPERATOR}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    run: laboratory-operator
  name: laboratory-operator
  namespace: ${NAMESPACE_LABOPERATOR}
spec:
  replicas: ${REPLICAS_LABOPERATOR}
  selector:
    matchLabels:
      run: laboratory-operator
  template:
    metadata:
      labels:
        run: laboratory-operator
    spec:
      serviceAccountName: lab-operator
      containers:
      - image: crownlabs/laboratory-operator${IMAGE_SUFFIX}:${IMAGE_TAG}
        imagePullPolicy: Always
        name: laboratory-operator
        command: ["/usr/bin/controller"]
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 20000
          runAsGroup: 20000
          readOnlyRootFilesystem: true
          privileged: false
        resources:
          limits:
            memory: 100Mi
            cpu: 100m
          requests:
            memory: 100Mi
            cpu: 100m
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 3
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /ready
            port: 8081
          initialDelaySeconds: 3
          periodSeconds: 3
        args:
          - "--webdav-secret-name"
          - "$(WEBDAV_SECRET_NAME)"
          - "--namespace-whitelist"
          - "$(WHITE_LIST_LABELS)"
          - "--website-base-url"
          - "$(WEBSITE_BASE_URL)"
          - "--nextcloud-base-url"
          - "$(NEXTCLOUD_BASE_URL)"
          - "--oauth2-proxy-image"
          - "$(OAUTH2_PROXY_IMAGE)"
          - "--oidc-client-secret"
          - "$(OIDC_CLIENT_SECRET)"
          - "--oidc-provider-url"
          - "$(OIDC_PROVIDER_URL)"
        env:
        - name: WHITE_LIST_LABELS
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: whitelistLabels
        - name: NEXTCLOUD_BASE_URL
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: nextcloudBaseUrl
        - name: WEBSITE_BASE_URL
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: websiteBaseUrl
        - name: WEBDAV_SECRET_NAME
          valueFrom:
           configMapKeyRef:
            name: operator-config
            key: webdavSecretName
        - name: OAUTH2_PROXY_IMAGE
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: oauth2ProxyImage
        - name: OIDC_CLIENT_SECRET
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: oidcClientSecret
        - name: OIDC_PROVIDER_URL
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: oidcProviderUrl
