# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# operators
operators/labTemplate-operator/bin
operators/labInstance-operator/bin
operators/labTemplate-operator/.idea
operators/labInstance-operator/.idea
.idea

# webservice
CrownLabs.iml
webservice/dist
webservice/node_modules
webservice/package-lock.json
webservice/website/node_modules
webservice/website/package-lock.json
webservice/old/serena/node_modules
webservice/old/serena/package-lock.json