---
apiVersion: v1
kind: Namespace
metadata:
  name: ${NAMESPACE_TENANT_OPERATOR}

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: tenant-operator-config
  namespace: ${NAMESPACE_TENANT_OPERATOR}
data:
  keycloakURL: ${KEYCLOAK_URL}
  keycloakLoginRealm: ${KEYCLOAK_LOGIN_REALM}
  keycloakTargetRealm: ${KEYCLOAK_TARGET_REALM}
  keycloakTargetClient: ${KEYCLOAK_TARGET_CLIENT}

---
apiVersion: v1
kind: Secret
metadata:
  name: tenant-operator-secret
  namespace: ${NAMESPACE_TENANT_OPERATOR}
type: Opaque
stringData:
  keycloakTenantOperatorUser: ${KEYCLOAK_TENANT_OPERATOR_USER}
  keycloakTenantOperatorPsw: ${KEYCLOAK_TENANT_OPERATOR_PSW}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tenant-operator
  namespace: ${NAMESPACE_TENANT_OPERATOR}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: crownlabs-tenant-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: crownlabs-tenant-operator
subjects:
  - kind: ServiceAccount
    name: tenant-operator
    namespace: ${NAMESPACE_TENANT_OPERATOR}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    run: tenant-operator
  name: tenant-operator
  namespace: ${NAMESPACE_TENANT_OPERATOR}
spec:
  replicas: 1
  selector:
    matchLabels:
      run: tenant-operator
  template:
    metadata:
      labels:
        run: tenant-operator
    spec:
      serviceAccountName: tenant-operator
      containers:
      - image: crownlabs/tenant-operator${IMAGE_SUFFIX}:${IMAGE_TAG}
        imagePullPolicy: Always
        name: tenant-operator
        command: ["/usr/bin/controller"]
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 20000
          runAsGroup: 20000
          readOnlyRootFilesystem: true
          privileged: false
        resources:
          limits:
            memory: 250Mi
            cpu: 1000m
          requests:
            memory: 100Mi
            cpu: 100m
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 3
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /ready
            port: 8081
          initialDelaySeconds: 3
          periodSeconds: 3
        args:
          - "-kc-URL=$(KEYCLOAK_URL)"
          - "-kc-login-realm=$(KEYCLOAK_LOGIN_REALM)"
          - "-kc-target-realm=$(KEYCLOAK_TARGET_REALM)"
          - "-kc-target-client=$(KEYCLOAK_TARGET_CLIENT)"
          - "-kc-tenant-operator-user=$(KEYCLOAK_TENANT_OPERATOR_USER)"
          - "-kc-tenant-operator-psw=$(KEYCLOAK_TENANT_OPERATOR_PSW)"
        env:
        - name: KEYCLOAK_URL
          valueFrom:
            configMapKeyRef:
              name: tenant-operator-config
              key: keycloakURL
        - name: KEYCLOAK_LOGIN_REALM
          valueFrom:
            configMapKeyRef:
              name: tenant-operator-config
              key: keycloakLoginRealm
        - name: KEYCLOAK_TARGET_REALM
          valueFrom:
            configMapKeyRef:
              name: tenant-operator-config
              key: keycloakTargetRealm
        - name: KEYCLOAK_TARGET_CLIENT
          valueFrom:
            configMapKeyRef:
              name: tenant-operator-config
              key: keycloakTargetClient
        - name: KEYCLOAK_TENANT_OPERATOR_USER
          valueFrom:
            secretKeyRef:
              name: tenant-operator-secret
              key: keycloakTenantOperatorUser
        - name: KEYCLOAK_TENANT_OPERATOR_PSW
          valueFrom:
            secretKeyRef:
              name: tenant-operator-secret
              key: keycloakTenantOperatorPsw
