apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-cephfs-pvc
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 700Gi
  storageClassName: csi-cephfs
