network:
    version: 2
    renderer: networkd
    ethernets:
        # This is the interface connected to the 1G network
        # eno1:
        #    dhcp4: no
        enp179s0f0:
            dhcp4: no
        enp179s0f1:
            dhcp4: no
    bonds:
        bond0:
            interfaces:
            - enp179s0f0
            - enp179s0f1
            addresses: [{{ node_ip_address }}/24]
            gateway4: 192.168.31.254
            nameservers:
                addresses:
                - 130.192.3.21
                - 130.192.3.24
            parameters:
                mode: 802.3ad
                mii-monitor-interval: 100
                up-delay: 200
                down-delay: 200
