[Desktop Entry]
Name=Eclipse
Type=Application
Exec={{ eclipse_path }}/eclipse
Terminal=false
Icon={{ eclipse_path }}/icon.xpm
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=Eclipse
Name[en_US]=Eclipse