/* Box */

.cl-card-box {
  body.light & .ant-card-body,
  .ant-card-body {
    padding: 0;
  }
  .box-header {
    border-bottom: solid #000000 3px;
  }
  body.light & .box-header {
    border-color: #f1f1f1;
  }
  .inner {
    min-height: 1.5rem;
  }
}