[Unit]
Description=NoVNC service
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart={{ novnc_websockify_path }}/run --web {{ novnc_path }} {{ novnc_port }} localhost:5901
RemainAfterExit=yes
Nice=-10

[Install]
WantedBy=multi-user.target
