.usage-btn,
.usage-btn * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.usage-btn {
  background-color: #4caf50;
  padding: 15px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  position: fixed;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: 50vh;
  left: 0;
  opacity: 30%;
  z-index: 99997;
  transform: scale(0.5);
  transition: all 0.4s;
}

.usage-btn .usage-img {
  position: absolute;
  top: 0;
  left: 2px;
  padding: 0;
  z-index: 99998;
  height: 55px;
  width: 55px;
}

.usage-btn .usage-img-transparent {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 60px;
  width: 60px;
  z-index: 99999;
  opacity: 0;
}

.usage-btn .btn {
  font-size: 14px;
  position: absolute;
  box-sizing: border-box;
  transform: scale(0.8);
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.4s;
  transition-delay: 0.1s;
  opacity: 0;
  height: 40px;
  width: 40px;
  z-index: 99995;
  padding: 12px 0;
  left: 10px;
}

.usage-btn .btn .usage-stat-txt {
  word-break: break-word;
  white-space: pre-wrap;
  -moz-white-space: pre-wrap;
}

.usage-cpu {
  top: -20px;
}

.usage-mem {
  top: -70px;
}

.usage-net {
  top: -120px;
}

.usage-btn .btn::after {
  content: attr(data-cont);
  position: absolute;
  background: inherit;
  opacity: 0.5;
  left: 37px;
  width: 40px;
  padding: 2px 4px;
  display: block;
  top: 30%;
}

.usage-btn:hover {
  opacity: 1;
  cursor: grab;
  transform: scale(1);
}

.usage-btn.active {
  cursor: grabbing;
  transition: all 0s;
}

.usage-btn:hover .btn {
  transform: scale(1);
  opacity: 1;
}

.usage-btn:hover .usage-cpu {
  top: -45px;
}

.usage-btn:hover .usage-mem {
  top: -95px;
}

.usage-btn:hover .usage-net {
  top: -145px;
}

.btn-grn {
  background: linear-gradient(0deg, rgb(22, 161, 0) 0%, rgb(51, 255, 0) 100%);
}

.btn-yel {
  background: linear-gradient(0deg, rgba(217, 175, 0, 1) 0%, rgba(255, 206, 0, 1) 100%);
}

.btn-red {
  background: linear-gradient(0deg, rgba(217, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.dim-screen {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  z-index: 999;
  opacity: 0;
  transition: all 0.2s;
}

.dim-screen.active {
  pointer-events: all;
  opacity: 1;
}
