[Desktop Entry]
Name=PyCharm
Type=Application
Exec={{ pycharm_path }}/bin/pycharm.sh
Terminal=false
Comment=Python Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=PyCharm
Name[en_US]=PyCharm
