apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "qlkube.fullname" . }}
  labels:
    {{- include "qlkube.labels" . | nindent 4 }}
{{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
{{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "qlkube.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "qlkube.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "qlkube.fullname" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ include "qlkube.version" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: CROWNLABS_QLKUBE_PORT
            value: "8080"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 60
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          volumeMounts:
          - name: configuration
            mountPath: "{{ .Values.configuration.mountPath }}/{{ .Values.configuration.exposedAPIs.fileName }}"
            subPath: "{{ .Values.configuration.exposedAPIs.fileName }}"
          - name: configuration
            mountPath: "{{ .Values.configuration.mountPath }}/{{ .Values.configuration.subscriptions.fileName }}"
            subPath: "{{ .Values.configuration.subscriptions.fileName }}"
          - name: configuration
            mountPath: "{{ .Values.configuration.mountPath }}/{{ .Values.configuration.wrappers.fileName }}"
            subPath: "{{ .Values.configuration.wrappers.fileName }}"
      volumes:
      - name: configuration
        configMap:
          name: "{{ include "qlkube.fullname" . }}"
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  {{- include "qlkube.selectorLabels" . | nindent 18 }}
              topologyKey: kubernetes.io/hostname
