apiVersion: v1
kind: ServiceAccount
metadata:
  name: update-crownlabs-image-list
  namespace: ${NAMESPACE_IMAGELIST}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: update-crownlabs-image-list
rules:
- apiGroups:
  - crownlabs.polito.it
  resources:
  - imagelists
  verbs:
  - get
  - create
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: update-crownlabs-image-list
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: update-crownlabs-image-list
subjects:
- kind: ServiceAccount
  name: update-crownlabs-image-list
  namespace: ${NAMESPACE_IMAGELIST}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: get-crownlabs-image-list
rules:
- apiGroups:
  - crownlabs.polito.it
  resources:
  - imagelists
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: get-crownlabs-image-list
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: get-crownlabs-image-list
subjects:
- kind: Group
  name: system:authenticated
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: update-crownlabs-image-list
  namespace: ${NAMESPACE_IMAGELIST}
  labels:
    app.kubernetes.io/name: update-crownlabs-image-list
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: update-crownlabs-image-list
  template:
    metadata:
      labels:
        app.kubernetes.io/name: update-crownlabs-image-list
    spec:
      serviceAccountName: update-crownlabs-image-list
      containers:
      - name: update-crownlabs-image-list
        image: crownlabs/update-crownlabs-image-list:${IMAGE_TAG}
        imagePullPolicy: Always
        args:
        - --advertised-registry-name=${ADVERTISED_REGISTRY_NAME}
        - --image-list-name=crownlabs-virtual-machine-images
        - --registry-url=${REGISTRY_URL}
        - --update-interval=60
        resources:
          requests:
            cpu: "50m"
            memory: 100Mi
          limits:
            cpu: "500m"
            memory: 200Mi
        securityContext:
          privileged: false
          runAsNonRoot: true
          runAsUser: 100000
          runAsGroup: 100000
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
