.rowHeader-bg-color {
  background-color: #262525;
  border-bottom: solid #000000 1px;
}

body.light {


  .rowHeader-bg-color {
    background-color: #f1f1f1;
    border-bottom: solid #f1f1f1 1px;
  }
}



.cl-table-instance,
.cl-table-instance,
.cl-table-instance,
.cl-table-instance {
  display: block;
  min-height: 0;
  overflow: visible;
}