apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "frontend-app.fullname" . }}
  labels:
    {{- include "frontend-app.labels" . | nindent 4 }}
data:
  {{ .Values.configuration.fileName }}: |
    window.VITE_APP_CROWNLABS_GRAPHQL_URL="{{ .Values.configuration.backend.graphql }}";
    window.VITE_APP_CROWNLABS_OIDC_CLIENT_ID="{{ .Values.configuration.oidc.clientId }}";
    window.VITE_APP_CROWNLABS_OIDC_AUTHORITY="{{ .Values.configuration.oidc.providerUrl }}realms/{{ .Values.configuration.oidc.realm }}/";
    window.VITE_APP_MYDRIVE_TEMPLATE_NAME="{{ .Values.configuration.mydrive.templateName }}";
    window.VITE_APP_MYDRIVE_WORKSPACE_NAME="{{ .Values.configuration.mydrive.workspaceName }}";
    window.VITE_APP_MYDRIVE_WORKSPACE_NAMESPACE="{{ .Values.configuration.mydrive.workspaceNamespace }}";
