apiVersion: v1
kind: ConfigMap
metadata:
  name: operator-config
  namespace: lab-operator
data:
  whitelistLabels: "production=true"
  nextcloudBaseUrl: "https://crownlabs.polito.it/cloud"
  websiteBaseUrl: "crownlabs.polito.it"
  WebdavSecretName: "nextcloud-credentials"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: laboratory-operator
  name: laboratory-operator
  namespace: lab-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      run: laboratory-operator
  template:
    metadata:
      labels:
        run: laboratory-operator
    spec:
      serviceAccountName: lab-operator
      containers:
      - image: crownlabs/laboratory-operator
        imagePullPolicy: Always
        name: laboratory-operator
        command: ["/usr/bin/controller"]
        args:
          - "--webdav-secret-name"
          - "$(WEBDAV_SECRET_NAME)"
          - "--namespace-whitelist"
          - "$(WHITE_LIST_LABELS)"
          - "--website-base-url"
          - "$(WEBSITE_BASE_URL)"
          - "--nextcloud-base-url"
          - "$(NEXTCLOUD_BASE_URL)"
          - "--oidc-client-secret"
          - "$(OIDC_CLIENT_SECRET)"
        env:
        - name: WHITE_LIST_LABELS
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: whitelistLabels
        - name: NEXTCLOUD_BASE_URL
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: nextcloudBaseUrl
        - name: WEBSITE_BASE_URL
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: websiteBaseUrl
        - name: WEBDAV_SECRET_NAME
          valueFrom:
           configMapKeyRef:
            name: operator-config
            key: webdavSecretName
        - name: OIDC_CLIENT_SECRET
          valueFrom:
            configMapKeyRef:
              name: operator-config
              key: oidcClientSecret
