# Files and Directories to be ignore during docker build
./node_modules
./package-lock.json
./dist
./k8s_library/node_modules
./k8s_library/package-lock.json
./k8s_library/dist
./kubernetes
./Dockerfile
./README.md
./yarn.lock
./.dockerignore