# Files and Directories to be ignore during docker build
./node_modules
./package-lock.json
./dist
./README.md
./website/node_modules
./website/package-lock.json
./website/dist
./kubernetes
./Dockerfile
./.dockerignore